@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(../../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: Fredoka;
    src: url(../../fonts//FredokaOne-Regular.ttf);
}
@font-face {
    font-family: SweetHoliday;
    src: url(../../fonts/SweetHoliday.ttf);
}
