// Colors
$red: #fb275d;
$green: #00ca72;
$yellow: #ffcc00;
$black: #323338;
$grey: #eeeeeef5;
$lightgrey: #e6e9ef;
$verylightgrey: #f5f6f8;
$white: #f1f1f1;
$lightblue: #61aef7;
$blue: #0085ff;
$btn_blue_hover: #0073ea;
$btn_blue: #0085ff;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//grid size
$grid_item: 160px;